body{
    background-color: rgb(68, 95, 218);
}

.header {
    display: flex;
    justify-content: space-between; /* Espacio entre el título y el enlace */
    align-items: center; /* Centrar verticalmente los elementos */
    padding-left: 5%;
    padding-right: 5%; /* Agregar un margen derecho para equilibrio */
    background-color: rgb(1, 35, 185);
    height: 90%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los divs */
    padding: 20px;
    text-decoration: none;
  }


  .box {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1 30%; /* Tres columnas en pantallas grandes */
    min-width: 500px; /* Ancho mínimo para cada div */
    transition: transform 0.3s ease;
  }

  .box:hover{
    transform: translateY(-2px) scale(1.02);
}
  
  /* Ajuste para pantallas medianas */
  @media (max-width: 768px) {
    .box {
      flex: 1 1 45%; /* Dos columnas en pantallas medianas */
    }
  }
  
  /* Ajuste para pantallas pequeñas */
  @media (max-width: 480px) {
    .box {
      flex: 1 1 100%; /* Una columna en pantallas pequeñas */
    }
  }
  

.titulo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(253, 253, 253);
    letter-spacing: 2px;
    font-size: 300%;
}

.foto{
    width: 400px;
    height: 400px; 
    object-fit: cover; 
    border-radius: 5px;
}


.texto {
  text-decoration: none;
  color: rgb(0, 0, 173);
}

.texto:hover{
    transform: translateY(-2px) scale(1.04);
}
